/* style.css 或 main.css */
.bg-hero {
  background-image: url('/assets/images/bg-layout.jpg');
  background-repeat: repeat; 
}
.container-bg {
  background-image: url('/assets/images/bg111.jpg');
  background-repeat: repeat;
}
.banner {
  background-image: url('/assets/images/bg-layout.jpg');
}