<header class="header background">
  <nav class="container display-flex align-center justify-between">
    <ul class="display-flex align-center ptb-16">
      <li class="mr-12">
        <a href="index.html" class="py-55"
          ><img src="../assets/image/Logo/logo.svg" alt="Logo"
        /></a>
      </li>
      <li class="mr-12">
        <a href="../pages/ProductList.html" class="py-12-24">商品一覽</a>
      </li>
      <li>
        <a href="../pages/MemberCenter.html" class="py-12-24">會員中心</a>
      </li>
    </ul>
    <a href="#" class="p-10"
      ><img src="../assets/icon/cart.svg" alt="購物車icon"
    /></a>
  </nav>
</header>
