<header class="header background">
  <nav class="container justify-between display-flex">
     <!-- 左邊：Logo -->
    <ul class="display-flex align-center ptb-16">
      <li class="mr-12">
        <a href="index.html" class="py-55"
          ><img src="../assets/image/Logo/logo.svg" alt="Logo"
        /></a>
      </li>
      <!-- 中間：導覽列 -->
      <li class="mr-12">
        <a href="../pages/ProductList.html" class="py-12-24">商品一覽</a>
      </li>
    </ul>
    <!-- 右邊：購物車 + 登入 -->
  <div class="header-right ptb-16">
    <a href="#"><img src="../assets/icon/cart.svg" alt="購物車"></a>
    <a href="#" class="nav-item">登入/註冊</a>
  </div>
  </nav>
</header>