@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
// 字體設定

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
// 以下為CSS重置
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// 以上為CSS重置

/* 設定主題顏色 */
:root {
  --primary-450: #fe4b1a;
  --primary-700: #0b478e;
  --primary-black: #002e4e;
  --primary-white: #ffffff;
  --secondary-150: #e4d9cd;
  --secondary-450: #af8d6a;
  --secondary-600: #856647;
  --natural-0: #ffffff;
  --natural-50: #f0f3f5;
  --natural-100: #e0e5eb;
  --natural-150: #d1d9e1;
  --natural-250: #b2bfcc;
  --natural-400: #8599ad;
  --natural-500: #667f99;
  --natural-650: #47596b;
  --natural-850: #002e4e;
  --alpha-white40: #ffffff66;
  --alpha-black50: #00000080;
}

/* 
在 reset CSS 或全域樣式中為 * 設定 box-sizing: border-box，這裡額外針對偽元素補上，
避免它們意外採用預設的 content-box 而導致排版錯誤。 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 以下設定通用樣式
body {
  font-family: "Noto Sans TC", sans-serif;
  color: var(--primary-black);
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

a {
  color: var(--primary-black);
  text-decoration: none;
  display: block;
  font-weight: 500;
}

// 輸入其他頁面的SCSS檔
@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";
