.cart-buttom:hover {
  color: #ffffff !important;  /* 文字改成白色 */
}
.cart-buttom:hover .material-symbols-outlined{
  fill: white !important;  /* icon 本身變白 */
}
.shape {
    font-size: 16px;
    padding: 12px 20px;
}
#btn-minus, 
#btn-plus {
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

#btn-minus:active, 
#btn-plus:active {
  transform: scale(0.7); /* 按下時縮小 */
}

#btn-minus:hover, 
#btn-plus:hover {
  transform: scale(1.2); /* 滑鼠移上時放大 */
  background-color: $info;
}
