// （已註冊）頁首樣式設定
.header {
  max-width: 1920px;
}

.background {
  background-image: url("/assets/image/bg-layout.jpg");
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// 上下padding:16px
.ptb-16 {
  padding: 16px 0;
}

// 上下padding:12px 左右padding:24px
.py-12-24 {
  padding: 12px 24px;
}

// Logo上下padding:5.5px
.py-55 {
  padding: 5.5px 0;
}

// 購物車icon間距10px
.p-10 {
  padding: 10px;
}

//右邊邊距margin-right: 12px;
.mr-12 {
  margin-right: 12px;
}

// 以下為headerNoMember（未註冊／非會員）頁首專用樣式
.nav-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 43px;
  padding: 12px 24px;
  background: var(--secondary-450);
  color: var(--primary-white);
  font-size: 16px;
  border-radius: 16px;
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin-left: 20px;
}
