.discount p {
  text-align: center;
  padding: 8px 0;
  border-top: 1px solid #8599ad;
  border-bottom: 1px solid #8599ad;
  background-image: url("/assets/image/bg-layout.jpg");
}

.discount span {
  color: var(--primary-450);
  padding-left: 4px;
}

main {
  max-width: 1920px;
  background-color: var(--alpha-white40);
}
