.discount {
  p {
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid #8599ad;
    border-bottom: 1px solid #8599ad;
    background-image: url("/assets/image/bg-layout.jpg");
  }

  span {
    color: var(--primary-450);
    padding-left: 4px;
  }
}

// 主區塊設定&背景設定
main {
  max-width: 1920px;
  background-image: url("/assets/image/bg-layout.jpg");
  position: relative; /* 確保偽元素相對於 main 定位 */
  background-position: center;

  p {
    // 預設文字顏色
    color: var(--primary-black);
  }
}

// 主區塊淺色背景設定
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* 遮罩的半透明顏色 */
  z-index: 1; /* 確保遮罩在背景圖片之上 */
}

main > * {
  position: relative; /* 確保內容在遮罩之上 */
  z-index: 2;
}

//麵包屑導覽
//元件
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: var(--natural-500);
}

.breadcrumb-item {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--natural-500);
}

.breadcrumb-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-450);
}

// 頁面標題區塊
.productListTitle {
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--primary-black);
  }
  p {
    font-size: 18px;
  }
}

//banner設定
.banner {
  width: 1296px;
  height: 272px;
  border-radius: 24px;
}

// 各式間距設定
//margin-bottom
.mb-24 {
  margin-bottom: 24px;
}

//margin-bottom
.mb-8 {
  margin-bottom: 8px;
}

.mb-24 {
  margin-bottom: 24px;
}

//padding-top
.pt-48 {
  padding-top: 48px;
}
