<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>果東小舖</title>
  </head>
  <body>
    <%- include('./layout/headerNoMember'); -%>
<!-- Hero 區塊 -->
<section class="hero">
  <!-- 背景圖 -->
  <div class="hero-bg">
    <!-- 底圖 -->
    <img src="../assets/image/img-kv.jpg" alt="商品背景圖" class="cover-img">
    <!-- 底圖上元素 -->
    <div class="overlay">
      <img src="../assets/image/Logo/logo-all.png" alt="Logo" class="logo-img">
      <h1 class="hero-title">送禮不煩惱<br>果東幫你配到好！</h1>
    </div>
  </div>
</section>
<!-- 中間文字 -->

<p>新註冊會員：首單現折</p>

<!-- brands 區塊 -->
<section class="brands">
  <div class="brands__content">
    <!-- 輪播 -->
    <div class="brands__carousel">
      <div class="carousel-item">
        <img src="../assets/image/brand-1.jpg" alt="品牌1">
        <p class="carousel-caption">看見美好，觸碰驚喜</p>
      </div>
      <div class="carousel-item">
        <img src="../assets/image/brand-2.jpg" alt="品牌2">
        <p class="carousel-caption">用心挑選，只為你的好心情</p>
      </div>
      
</section>

<!-- categories 區塊 -->

<!-- prices 區塊 -->

<!-- faq 區塊 -->


    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
