<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>果東小舖</title>
  </head>
  <body>
    <%- include('./layout/headerNoMember'); -%>
<!-- Hero 區塊 -->
<section class="hero">
  <!-- 背景圖 -->
  <div class="hero-bg">
    <!-- 疊在背景上的圖片 -->
    <img src="../assets/image/img-kv.jpg" alt="Logo" class="cover-img">
    <!-- 文字內容 -->
     </div>
    <div class="content">
      <h1>送禮不煩惱<br>果東幫你配到好！</h1>
    </div>
  </div>
</section>
<!-- 中間文字 -->
<div class="notice">
  新註冊會員：首單現折 <span class="highlight">NT$60</span>
</div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
