<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="discount">
      <p>新註冊會員：首單現折<span>NT$ 60</span></p>
    </div>
    <main class="">
      <div class="container">
        <!-- 麵包屑導覽 -->
        <div class="mb-24">
          <ol class="display-flex">
            <!-- 這邊有個homeIcon晚點處理 -->
            <li class="breadcrumb-item">
              <a href="./index.html" class="breadcrumb-link">首頁</a>
            </li>
            <li class="breadcrumb-item">商品一覽</li>
          </ol>
        </div>
        <div class="productListTitle">
          <img src="../assets/image/Logo/img-Bow.svg" alt="Bow" />
          <h1>商品一覽</h1>
          <p>果東提供各式禮品</p>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
