<!DOCTYPE html>
<html lang="zh_Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <title>商品一覽 Products｜果東小舖 GUODONG</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 折扣區塊 -->
    <div class="discount">
      <p>新註冊會員：首單現折<span>NT$ 60</span></p>
    </div>
    <main class="pt-48">
      <div class="container">
        <!-- 麵包屑導覽 -->
        <div class="mb-24">
          <ol class="display-flex">
            <!-- 這邊有個homeIcon晚點處理，先用bootstrap的代替 -->
            
            <li class="breadcrumb-item">
             <i class="bi bi-house-door mr-4 breadcrumb-link "></i>
              <a href="./index.html" class="breadcrumb-link">首頁</a>
            </li>
            <li class="breadcrumb-item">商品一覽</li>
          </ol>
        </div>
        <!-- 標題區塊 -->
        <div class="productListTitle mb-24">
          <img src="../assets/image/Logo/img-Bow.svg" alt="Bow" class="mb-8" />
          <h1 class="h1 mb-8">商品一覽</h1>
          <p>果東提供各式禮品</p>
        </div>
        <!-- banner -->
        <img
          src="../assets/image/banner-pc.png"
          alt="banner"
          class="banner mb-24"
        />
        <!-- 篩選條件＆下拉選單 -->
        <!-- 下拉選單的間距還未設定 -->
        <div class="display-flex align-center justify-between mb-24">
         <!-- 篩選條件：左區塊 -->
          <div class="display-flex align-center ">
          <p class="body-md ptb-8 pr-12">篩選條件：</p>
          <!--下拉選單1：商品類別-->
          <div class="dropdown btn-group pr-12">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              商品類別
              <!-- 這邊有個Icon搞不定，之後處理 -->
              <!-- <svg
                xmlns="http://www.w3.org/2000/svg"
                height="20px"
                viewBox="0 -960 960 960"
                width="20px"
                fill="#667F99"
              >
                <path
                  d="M480-333 240-573l51-51 189 189 189-189 51 51-240 240Z"
                />
              </svg> -->
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">全部</a>
              </li>
              <li>
                <a class="dropdown-item btn-p-12-26" href="#">香氛蠟燭</a>
              </li>
              <li><a class="dropdown-item" href="#">音箱／音樂盒</a></li>
              <li><a class="dropdown-item" href="#">小夜燈</a></li>
              <li><a class="dropdown-item" href="#">文具</a></li>
              <li><a class="dropdown-item" href="#">日用品</a></li>
              <li><a class="dropdown-item" href="#">美容</a></li>
            </ul>
          </div>
          <!-- 下拉選單2：預算選禮 -->
          <div class="dropdown btn-group pr-12">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              預算選禮
              <!-- 這邊有個Icon搞不定，之後處理 -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">無預算</a></li>
              <li><a class="dropdown-item" href="#">499 以下</a></li>
              <li><a class="dropdown-item" href="#">500~999</a></li>
              <li><a class="dropdown-item" href="#">1,000~1,999</a></li>
              <li><a class="dropdown-item" href="#">2,000 以上</a></li>
            </ul>
          </div>

          <!-- 下拉選單3：送禮類型-->
          <div class="dropdown btn-group pr-12">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              送禮類型
              <!-- 這邊有個Icon搞不定，之後處理 -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">全部</a></li>
              <li><a class="dropdown-item" href="#">「她」的禮物</a></li>
              <li><a class="dropdown-item" href="#">「他」的禮物</a></li>
              <li><a class="dropdown-item" href="#">生日禮物</a></li>
              <li><a class="dropdown-item" href="#">居家禮物</a></li>
            </ul>
          </div>
       </div>
       <!-- 篩選條件：右區塊 -->
       <div class="display-flex align-center ">
        <!-- 下拉選單4：熱銷商品 -->
        <div class="dropdown btn-group pr-12 ">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              熱銷商品
              <!-- 這邊有個Icon搞不定，之後處理 -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">價格低到高</a></li>
              <li><a class="dropdown-item" href="#">價格高到低</a></li>
              <li><a class="dropdown-item" href="#">最新上架</a></li>
              <li><a class="dropdown-item" href="#">熱銷商品</a></li>
            </ul>
          </div>
          <!-- 這個search icon暫時先用bootstrap的 -->
          <button type="button" class="btn btn-4" ><i class="bi bi-search mr-4"></i>搜尋商品</button>
          
       </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
